<div class="container-fluid">
        <div class="jumbotron">
          <h1>Welcome to PBC Zap</h1>
          <p>A place where all your accounting problems dissapear.</p>
          <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>        
</div><!-- container-fluid -->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul>
                <li>Define User Roles</li>
                <li>Think about who can see what, and define that in db</li>
            </ul>
        </div>
    </div>
</div>